USE [master]
GO
/****** Object:  Database [CarsDB]    Script Date: 15/07/2020 16:39:48 ******/
CREATE DATABASE [CarsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Image', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Image.mdf' , SIZE = 14336KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Image_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Image_log.ldf' , SIZE = 5184KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarsDB]
GO
/****** Object:  Table [dbo].[BranchTable]    Script Date: 15/07/2020 16:39:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BranchTable](
	[BranchId] [int] IDENTITY(1,1) NOT NULL,
	[BranchLocation] [nvarchar](50) NULL,
	[BranchAddress] [nvarchar](50) NULL,
	[BranchName] [nchar](50) NULL,
 CONSTRAINT [PK_BranchTable] PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarModelTable]    Script Date: 15/07/2020 16:39:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarModelTable](
	[carmodelID] [int] IDENTITY(1,1) NOT NULL,
	[manufacturer] [nvarchar](50) NOT NULL,
	[model] [nvarchar](50) NOT NULL,
	[dailyPrice] [float] NOT NULL,
	[dailyLateFee] [float] NOT NULL,
	[year] [nvarchar](50) NOT NULL,
	[gearbox] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CarModelTable] PRIMARY KEY CLUSTERED 
(
	[carmodelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarsTable]    Script Date: 15/07/2020 16:39:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarsTable](
	[CarLicenseNumber] [int] NOT NULL,
	[currentKm] [int] NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[isRentable] [bit] NOT NULL,
	[isDamaged] [bit] NOT NULL,
	[carmodelID] [int] NOT NULL,
	[BranchId] [int] NOT NULL,
	[CarID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CarsTable] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdersTable]    Script Date: 15/07/2020 16:39:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersTable](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CarLicenseNumber] [int] NOT NULL,
	[StartDate] [nvarchar](50) NOT NULL,
	[EstimatedReturnDate] [nvarchar](50) NOT NULL,
	[ReturnDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_OrdersTable] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersTable]    Script Date: 15/07/2020 16:39:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTable](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[PassportID] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[BirthDate] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[MemberLevel] [int] NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UsersTable] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BranchTable] ON 

INSERT [dbo].[BranchTable] ([BranchId], [BranchLocation], [BranchAddress], [BranchName]) VALUES (1, N'(32.085300, 34.781769)', N'Rothschild ave 36', N'tel aviv                                          ')
SET IDENTITY_INSERT [dbo].[BranchTable] OFF
SET IDENTITY_INSERT [dbo].[CarModelTable] ON 

INSERT [dbo].[CarModelTable] ([carmodelID], [manufacturer], [model], [dailyPrice], [dailyLateFee], [year], [gearbox]) VALUES (1, N'Hyundai', N'i45', 300, 500, N'2010', N'auto')
INSERT [dbo].[CarModelTable] ([carmodelID], [manufacturer], [model], [dailyPrice], [dailyLateFee], [year], [gearbox]) VALUES (1005, N'toyota', N'yarise', 300, 500, N'2010', N'auto')
INSERT [dbo].[CarModelTable] ([carmodelID], [manufacturer], [model], [dailyPrice], [dailyLateFee], [year], [gearbox]) VALUES (1006, N'Honda', N'Civic', 600, 800, N'2019', N'auto')
SET IDENTITY_INSERT [dbo].[CarModelTable] OFF
SET IDENTITY_INSERT [dbo].[CarsTable] ON 

SET IDENTITY_INSERT [dbo].[CarsTable] OFF
SET IDENTITY_INSERT [dbo].[OrdersTable] ON 

INSERT [dbo].[OrdersTable] ([OrderID], [UserID], [CarLicenseNumber], [StartDate], [EstimatedReturnDate], [ReturnDate]) VALUES (11, 5, 6444444, N'2020-05-01', N'2020-05-10', N'2020-05-10')
INSERT [dbo].[OrdersTable] ([OrderID], [UserID], [CarLicenseNumber], [StartDate], [EstimatedReturnDate], [ReturnDate]) VALUES (1009, 5, 6554444, N'2020-05-06', N'2020-05-10', N'2020-05-13')
INSERT [dbo].[OrdersTable] ([OrderID], [UserID], [CarLicenseNumber], [StartDate], [EstimatedReturnDate], [ReturnDate]) VALUES (2009, 5, 6444444, N'2020-05-05', N'2020-05-12', N'2020-05-13')
SET IDENTITY_INSERT [dbo].[OrdersTable] OFF
SET IDENTITY_INSERT [dbo].[UsersTable] ON 

SET IDENTITY_INSERT [dbo].[UsersTable] OFF
USE [master]
GO
